#services {
  height: 100%;
}

.man-wrapper {
  position: absolute;
  background: transparent;
  width: 100%;
  height: 100%;
}

.man {
  background-image: url("../img/man.png");
  height: 1500px;
  background-attachment: fixed;
  background-position: 50% 200px;
  background-repeat: no-repeat;
  background-size: 150px;
}

.graph {
  position: absolute;
  background: transparent;
  background-image: url("../img/graph.png");
  height: 400px;
  background-position: 37% 170px;
  background-repeat: no-repeat;
  background-size: 300px;
  width: 100%;
  z-index: 10;
}

.services-gap {
  height: 150px;
  background: transparent;
}

.service-row {
  padding: 40px 0;
}

.service-box {
  color: white;
}

.service-box > h3 {
  color: rgb(171, 235, 252);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}

.section-heading {
  color: rgb(223, 250, 255);
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
}

#services {
  background: linear-gradient(to bottom, #385d89, #0a316c);
}

#contact {
  color: white;
  background-color: #0a316c;
}

.navbar-default .nav > li>a:hover,
.navbar-default .nav>li>a:focus:hover {
  color: #4ca1eb;
}

.navbar-default .nav > li.active>a,
.navbar-default .nav>li.active>a:focus {
  color: #4ca1eb!important;
  background-color: transparent;
}


a {
  color: #4ca1eb;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s;
}

a:hover,
a:focus {
  color: #4ca1eb;
}